<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<wicket:panel>
		<div>
			<label wicket:id="message">Label</label>
		</div>
		<br/>
		<div class="col-md-12 center"> 
			<button wicket:id="okLink" class = "btn btn-info btn-normal"><span style="font-size: 12px;">OK</span></button>
		</div>
	</wicket:panel>
</body>
</html>