Hello ${name},

You receive this email because you want to change password.

Please click this link "${resetPasswordURL}" to change password

* This URL is only valid for 24 hours.
* If you want to receive password reminder again, please operate from the beginning.
* If you receive several password reminders, only the last one is valid.

Sincerely,
Uzabase company