${name} 様,

以下のURLをクリックして、新しいパスワードを設定してください。

"${resetPasswordURL}"

※上記URLは24時間有効です。24時間を過ぎると利用できなくなります。
※パスワードリマインダを再度ご利用される場合、最初からもう一度操作願います。
※パスワードリマインダを複数回送信した場合、一番最後のメールに記載されたURLのみ
有効となります。

Uzabase